# Introduction to Python

In [7]:
# variables

name = "lhasang"
print("My name is ", name)

My name is  lhasang

In [9]:
# Numbers and strings
age = 20
Age = "20"

print(type(age))
print(type(Age))

<class 'int'>
<class 'str'>

In [16]:
# lets know about the comments: actually we are using right now

# single line comments

""" Multiple line comments 
oh yeah
"""

' Multiple line comments \noh yeah\n'

In [17]:
# Outputs

print("Hello ", name)

# using the f-string to print
print(f"My name is {name}")

Hello  lhasang
My name is lhasang

In [18]:
# Arithmetic Operators

a = 10
b = 2

add = a+b
sub = a-b
div = a/b #it outputs the floats
quotent = a//b # o/p is in interger
mul = a*b
exp = a**b

In [20]:
print(f"add: {add}, sub: {sub}, division: {div}, quotent: {quotent}, multiplication: {mul} and power = {exp}")

add: 12, sub: 8, division: 5.0, quotent: 5, multiplication: 20 and power = 100

# Data Conversion

In [2]:
a = 5
b = "7"

# we need to add these two so we use data conversion

print( a+int(b))

12

# Input

In [5]:
fname = input("Enter first name: ")
lname = input("Enter last name: ")
print("Welcome "+fname +" "+ lname)

Enter first name:  lhasang
Enter last name:  lama

Welcome lhasang lama

In [6]:
a = input("num: ")
print(type(a))

num:  12

<class 'str'>