# Lists

In [1]:
# they are the collections and is mutable: meaning the items can be updated, deleted

In [2]:
a = []
print(type(a))

<class 'list'>

In [3]:
b = ["hellow", 1,3,4]
# list methods


# del statement for the deletion of the elements

del b[0]

In [4]:
print(b)

[1, 3, 4]

In [5]:
# appending the elements on the lis

b.append("hello")
print(b)

[1, 3, 4, 'hello']

In [6]:
# loops in list

for i in b:
    print(i)

1
3
4
hello

In [7]:
len(b)

4

In [8]:
print("hello" in b)

True

In [9]:
print(1 not in b)

False

# tuple

In [10]:
# ordered collection of the items and is similar datatype to the list but has an important difference i.e. it is not mutable

In [11]:
a = (1,2,3)

print(a)
print(type(a))

(1, 2, 3)
<class 'tuple'>

In [12]:
# methods on the tuple

a.append("ehll")

AttributeError: 'tuple' object has no attribute 'append'

In [13]:
del a[0]

TypeError: 'tuple' object doesn't support item deletion

In [14]:
for i in a:
    print(i)

1
2
3

In [15]:
print(b)
print(a)

[1, 3, 4, 'hello']
(1, 2, 3)

In [16]:
print(tuple(b))
print(list(a))

(1, 3, 4, 'hello')
[1, 2, 3]

# String

In [17]:
# it is an odered, immutable collection of the items and it can contain the duplicates

a = "Hi! 'hero'"

print(a)

Hi! 'hero'

In [18]:
# let's use the escape sequence
b= "\"Lhasang lama\" is it?"
print(b)

"Lhasang lama" is it?

In [21]:
b="bob"
for i in b:
    print(i)

b
o
b

In [22]:
# methodes

title = "Rat Master"

# converting this into the "Cat Master"

In [24]:
# using the slicing

title1 = "C" + title[1:]

print(title1)

Cat Master

In [25]:
# using the replace method
print(title.replace("R","C"))

Cat Master

In [26]:
# find method

title1.find("M")

4

# Dictionaries

In [40]:
# a collection of key vale pair items

a= {}

print(type(a))

<class 'dict'>

In [41]:
student_info = {"name": 'Wangden sherpa','age': 24, "job": 'musical artist'}

print(student_info)

{'name': 'Wangden sherpa', 'age': 24, 'job': 'musical artist'}

In [42]:
student_info["name"]

'Wangden sherpa'

In [43]:
# using loop in the dictionaries

for k in student_info:
    v = student_info[k]
    print(f"{k} -> {v}")

name -> Wangden sherpa
age -> 24
job -> musical artist

In [45]:
student_info1 = student_info.copy()
print(student_info1)
student_info1.clear()
print(student_info1)

{'name': 'Wangden sherpa', 'age': 24, 'job': 'musical artist'}
{}

# Sets

In [49]:
# sets is an unordered collection of the unique items 
a = set({})
print(type(a))

<class 'set'>

In [56]:
a = {"lama", 5,1,1,2,3,3,2}
print(a)

{1, 2, 3, 5, 'lama'}

In [58]:
a.add("wangden")
print(a)

{1, 2, 3, 'wangden', 5, 'lama'}

In [59]:
b = {1,2,4,5,"lama"}

# lets find the union and the interseciton | common on the a and b sets

u = a | b
print(f"Union of {a} and {b} is {u}")

Union of {1, 2, 3, 'wangden', 5, 'lama'} and {1, 2, 4, 5, 'lama'} is {1, 2, 3, 4, 5, 'wangden', 'lama'}

In [60]:
c = a & b
print(f"Common of {a} and {b} is {c}")

Common of {1, 2, 3, 'wangden', 5, 'lama'} and {1, 2, 4, 5, 'lama'} is {1, 2, 5, 'lama'}

# Range funciton: range()

In [61]:
# range(start, end, step)

In [62]:
a = list(range(1,10))
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [64]:
b = list(range(10,0, -1))
print(b)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]