# Decision Making and Loops

## Booleans

In [4]:
a = 1>2
print(a)
print(type(a))

False
<class 'bool'>

In [8]:
# the boolean are either true or false and it is also one of the datatypes

a = True
print(type(a))

<class 'bool'>

In [10]:
b = "true"
print(type(b))

<class 'str'>

## If else statement

In [13]:
a = int(input("Enter a number: "))

if a % 2 == 0:
    print("Even")
else: 
    print("Odd")

Enter a number:  23

Odd

## IF elif else statement

In [2]:
if 1>2:
    print("a")
elif 1<2:
    print("b")
else:
    print("c")

b

## Operators

In [7]:
# and operator: True if both conditions are tru and falso if any of the condition is false
salary = 20000
age = 20
if age>=20 and salary>=30000:
    print("Pretty decent")
else:
    print("work harder and smarter.")

work harder and smarter.

In [8]:
# OR operator: if any one condition si true then the whole condition becames true

if age>=20 or salary>=30000:
    print("Pretty decent")
else:
    print("work harder and smarter.")

Pretty decent

In [10]:
# NOT operator:  it;s the opposite of any boolean value

if not True:
    print("apple")
else: 
    print("Mango")

Mango

## LOOP

### While loop

In [5]:
n = int(input("Enter a number: "))

while n < 2:
    print(n)
    n +=1

Enter a number:  0

0
1

### for loop

In [7]:
# let's print the even numbers

n = [1,2,3,4]

for i in n:
    if i%2==0:
        print(i)

2
4

In [12]:
# lets use the range function
# factorial

n = int(input("Input an positive integer: "))
if n ==0 :
    print(1)

else:
    fact = 1
    for i in range(1,n+1):
       fact *=i
    print(fact)

Input an positive integer:  5

120

## Break and Continue

In [14]:
# break for terminating the loop and continue to skip the loop for that particular condition

for i in range(1,11):
    if i%2 !=0:
        continue
    print(i)

2
4
6
8
10

In [16]:
# using the break statement in above
for i in range(1,11):
    if i%2 !=0:
        continue
    if i == 10:
        break
    print(i)

2
4
6
8

## Control Flow examples

### Multiplication table of a number

In [25]:
n= int(input("Enter a positive number: "))
if n<0 or n==0:
    print("Enter a number greater that 0 ")

print(f" ----- Multiplication table of {n} --------")

for i in  range(1,n+1):
    m=n*i
    print(f"{n} * {i} = {m}")

Enter a positive number:  5

 ----- Multiplication table of 5 --------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25